<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Controle de Alertas
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alerta</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input label="Email" type="email" placeholder="email@domain.com" [(ngModel)]="email"></ion-input>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button expand="block" (click)="openModal()">Criar</ion-button>
          </ion-col>
          <ion-col>
            <ion-button expand="block" (click)="getAlertsByEmail()">Buscar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="listAlerts.length !== 0">
    <ion-card-header>
      <ion-card-title>Seus Alertas</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <app-alert-list [alerts]="listAlerts"></app-alert-list>
    </ion-card-content>
  </ion-card>

</ion-content>

