<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dados de Dengue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="mt-1"></div>
  <app-total-casos  [total_cases]="totalCases"></app-total-casos>
  <div class="mt-1"></div>
  <app-mapa-paraiba *ngIf="listCasesByCity" [listCases]="listCasesByCity" class="map-position"></app-mapa-paraiba>
  <div class="mt-1"></div>
  <app-grafico-linha-temporal *ngIf="listChartLine" [listData]="listChartLine"></app-grafico-linha-temporal>
  <div class="mt-1"></div>
  <app-grafico-dispersao *ngIf="dataScatter" [data]="dataScatter"></app-grafico-dispersao>
</ion-content>
